body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.navbar-toggler{
  background-color: white;
}
.header88997 h1{
  font-size: 2.7rem;
  font-weight: 300;
  text-shadow: 5px 3px 6px rgba(150, 150, 150, .6);
}
.navbar-brand  {
    text-shadow: 5px 3px 6px rgba(150, 150, 150, 1);
}
.header88997 h1 > i {
  color: #f9af40;
  font-weight: bolder;
  text-shadow:
}
.header88997{
  margin-top: 5%;
}
.navbar-toggler > span {
   background-color: #0a7bef;
  border-radius: 50%;
}
.App00236{
  height: 900px;
  width: 100%;
  background-image: url("./bg-main.jpg");
}
.spacing{
  padding-right: 2.5rem;
    font-size: 15px;
    text-shadow: 5px 3px 6px rgba(150, 150, 150, .6);
}
a{
  cursor: pointer;
}
.drpLanguage{
  background-color: white;
}
.drpLanguage a {
  font-size: 13px;
}
.enginexchanger66548{
  margin-top: 15%;
}
.inp65645987{
  border-left: none;
}
.prependsend6545487{
  background-color: white;
  color: #0a7bef;
  text-shadow: 5px 3px 6px rgba(150, 150, 150, .5);
  padding: 10px !important;
  font-size: 18px !important;
  border-right: none;
}
