body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App00236{
  height: 900px;
  width: 100%;
  background-image: url("./bg-main.jpg");
}
.spacing{
  padding-right: 2.5rem;
    font-size: 15px;
}

.drpLanguage{
  background-color: white;
}
