body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.navbar-toggler{
  background-color: white;
}
.header88997 h1{
  font-size: 2.7rem;
  font-weight: 300;
  text-shadow: 5px 3px 6px rgba(150, 150, 150, .6);
  margin-left: 4.7%;
}
.navbar-brand  {
    text-shadow: 5px 3px 6px rgba(150, 150, 150, 1);
}
.header88997 h1 > i {
  color: #f9af40;
  font-weight: bolder;
  text-shadow:
}
.header88997{
  margin-top: 5%;
}
.navbar-toggler > span {
   background-color: #0a7bef;
  border-radius: 50%;
}
.App00236{
  height: auto;
  width: 100%;
  background-image: url("./img/bg-main.jpg");
  background-size: cover;
  background-position: center;
padding: 1% 0;
}
.spacing{
  padding-right: 2.5rem;
    font-size: 15px;
    text-shadow: 5px 3px 6px rgba(150, 150, 150, .6);
}
.ftheaders{
  padding: 1.5rem 2rem;
}
.ftheaders p {
  font-size: 17px;
}
.spacingLG{
  width: 154px;
}
a,.clickab55987{
  cursor: pointer;
}
.drpLanguage{
  background-color: white;
}
.drpLanguage a {
  font-size: 13px;
}
.enginexchanger66548{
margin-top: 5%;
padding: 5% 0;
background-color: rgba(0,0,0,0.5);
border-radius: 20px;
}
.inp65645987{
  border-left: none;

}
.prependsend6545487{
  background-color: white;
  color: #0a7bef;
  font-size: 18px !important;
  border-right: none;
  padding: 18.5px !important;
}
.inp65645987:focus,.ingetsearch:focus{
  box-shadow: none;
  border-color: white;

}
.exch6498797{
  font-size: 38px;
  padding: 0px;
  margin: 10px 21px;
  text-shadow: 5px 3px 6px rgba(150, 150, 150, .4);
}
.enginexchanger66548 h5 {
  font-weight: 300;
  margin-left: 4.7%;
}
.get654877989{
  width: 200px;
  left: -15%!important;
  height: 300px;
  overflow-y:scroll;
}
.btexch6659775{
  margin-top: 11%;
}
.btnbord6565487{
  border-top-right-radius: 5px!important;
  border-bottom-right-radius: 5px!important;
  border: none!important;
padding: 9.9px!important;
  background-color: #e1e1e2;
  font-size: 29px!important;
  width: 130px;
}
.dis55{
  background-color: white !important;
}
.coin6549875 >i{
  color:orange;
  text-shadow: 5px 3px 6px rgba(150, 150, 150, 1);
  font-size: 2.4rem;
}
.coin6549875{
  font-size: 1.4rem;
}
.srt555987{
  padding: 0 0 0 20px;
}
.pres659656{
  border: none;
}
.ingetsearch{
  padding: 0;
border: none;
}
.btnbord6565487>i{
  margin: 0 5px;
}
.coin56488896{
  font-size: 0.8rem;
  line-height: 35px;
font-weight: bold;
}
.text669874{
  font-size: 0.8rem;
  color:grey;
  line-height: 35px;

}
.wrapercoinhv{
  transition: 0.5s all ease;
}
.wrapercoinhv:hover{
  background-color: #80808080;
  transition: 0.5s all ease;
}
.clickab55987 hr {
  margin: 0;
}
.crypto_wrapper{
  margin-top: 7%;
}
.crlist_Wrapper li{
font-size: 12px;
padding: 10px 8px;
background-color: #2d2c2c4d;
text-align: center;
color: white;
}
.crlist_Wrapper li span:nth-child(1){
  font-size: 20px;
}
.coinWrapper556{
  padding: 0 5px !important;
}
.crlist_Wrapper li span:nth-child(3){
  font-size: 13px;
}
.footer{
  padding: 2% 0;
}
